<div class="container">
  <div class="demo-button-container">
    <button mat-raised-button (click)="addData()" class="demo-button">
      <mat-icon>add</mat-icon>
      Add data
    </button>
    <button
      mat-raised-button
      [disabled]="!selectedProduct?.id"
      (click)="editData()"
      class="demo-button">
      <mat-icon>edit</mat-icon>
      Edit product
    </button>
    <button
      mat-raised-button
      [disabled]="!selectedProduct?.id"
      (click)="removeData()"
      class="demo-button">
      <mat-icon>delete</mat-icon>
      Remove data
    </button>
  </div>
  <div class="filter-container">
    <my-org-filter-input
    (filtersValue)="filterValue($event)"
    (clearFilers)="clearFilteredProducts()"
    ></my-org-filter-input>
  </div>
  <my-org-table-list
    [displayedColumns]="displayColumns"
    (selectionChanged)="selectProduct($event)"
  ></my-org-table-list>
</div>
