<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8"
>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> {{ 'name' | titlecase }} </th>
    <td mat-cell *matCellDef="let row"> {{row.name | truncate:120 : false : '...'}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> {{'description' | titlecase }} </th>
    <td mat-cell *matCellDef="let row"> {{row.description | truncate:120 : false : '...'}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> {{'type' | titlecase }} </th>
    <td mat-cell *matCellDef="let row"> {{row.type | truncate:120 : false : '...'}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> {{'price' | titlecase }} </th>
    <td mat-cell *matCellDef="let row"> {{row.price | truncate:120 : false : '...'}} </td>
  </ng-container>

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        color="primary"
        (click)="$event.stopPropagation()"
        (change)="checkRow($event, row)"
        [checked]="selection.isSelected(row.id)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns?.length">
      <hr *ngIf="row == expandedElement">
      <div class="example-element-detail"
           [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
        <img class="w-30 pr-5" [src]="row.image">
        <div class="example-element-description">
          {{row.description}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row"
      [matTooltip]="'Click to see more details'">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
